<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <h2>List of users</h2>
    </div>
    <div class="header-actions">
      <a [title]="'Create user'" [routerLink]="['/createUser']" class="nav-link">Create user</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-12">
          <clr-datagrid>
            <clr-dg-column [clrDgField]="'firstName'">First Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'lastName'">Last Name</clr-dg-column>
            <clr-dg-column [clrDgField]="'birthDate'">Birth date</clr-dg-column>
            <clr-dg-column [clrDgField]="'email'">Email</clr-dg-column>
            <clr-dg-column [style.width.px]="100"></clr-dg-column>
            <clr-dg-column [style.width.px]="100"></clr-dg-column>

            <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
              <clr-dg-cell>{{user.firstName}}</clr-dg-cell>
              <clr-dg-cell>{{user.lastName}}</clr-dg-cell>
              <clr-dg-cell>{{user.birthDate | date:'MM/dd/yyyy'}}</clr-dg-cell>
              <clr-dg-cell>{{user.email}}</clr-dg-cell>
              <clr-dg-cell>
                <button class="btn btn-sm btn-success"
                        [class.selected]="user === selectedUser"
                        (click)="onSelect(user)"><clr-icon shape="pencil"></clr-icon> Edit</button>
              </clr-dg-cell>
              <clr-dg-cell>
                <button class="btn btn-sm btn-danger" (click)="onDelete(user)">Delete</button>
              </clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
              <clr-dg-pagination #pagination [clrDgPageSize]="5">
                <clr-dg-page-size [clrPageSizeOptions]="[5,10,20,50,100]">Users per page</clr-dg-page-size>
                {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
                of {{pagination.totalItems}} users
              </clr-dg-pagination>
            </clr-dg-footer>
          </clr-datagrid>
        </div>
      </div>

      <div class="clr-row" *ngIf="selectedUser">
        <div class="clr-col-12">
          <app-user-form [user]="selectedUser"
                         [submitButtonText]="'Update user'"
                         [alertText]="'User ' + selectedUser.firstName + ' '
                       + selectedUser.lastName + ' updated successfully'"></app-user-form>
        </div>
      </div>
    </div>
  </div>
</div>
