<div class="main-container">
  <header class="header-6">
    <div class="branding">
      <h2>Create a new user</h2>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row">
        <div class="clr-col-12">
          <app-user-form [user]="user"
                   [submitButtonText]="'Create user'"
                   [alertText]="'User ' + user.firstName + ' '  + user.lastName + ' created sucessfully!'"></app-user-form>
        </div>
      </div>
    </div>
  </div>
</div>
