<div class="main-container">
  <br class="content-container">
  <form (ngSubmit)="onSubmit()">
    <!--    <clr-input-container>-->
    <!--      <label>First name</label>-->
    <!--      <input clrInput type="text" [(ngModel)]="user.firstName" name="firstName">-->
    <!--      <label>Last name</label>-->
    <!--      <input clrInput type="text" [(ngModel)]="user.lastName" name="lastName">-->
    <!--      <label>Email</label>-->
    <!--      <input clrInput type="text" [(ngModel)]="user.email" name="email"/>-->
    <!--    </clr-input-container>-->
    <!--    <clr-date-container>-->
    <!--      <label>Birth date</label>-->
    <!--      <input type="date" name="birthDate" [(clrDate)]="user.birthDate">-->
    <!--    </clr-date-container>-->
    <!--    <button class="btn btn-primary" type="submit">{{submitButtonText}}</button>-->


    <section class="form-block">
      <div class="form-group">
        <label for="firstName">First name</label>
        <input clrInput id="firstName" type="text" [(ngModel)]="user.firstName" name="firstName">
      </div>
      <div class="form-group">
        <label for="lastName">Last name</label>
        <input clrInput id="lastName" type="text" [(ngModel)]="user.lastName" name="lastName">
      </div>
      <div class="form-group">
        <label>Email
          <input clrInput type="text" [(ngModel)]="user.email" name="email"/>
        </label>
      </div>
    </section>
    <clr-date-container>
      <label>Birth date</label>
      <input type="date" name="birthDate" [(clrDate)]="user.birthDate">
    </clr-date-container>
    <button class="btn btn-primary" type="submit">{{submitButtonText}}</button>
  </form>
</div>
